In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("D:\\newproject\\New folder\\Barley.data.csv")
df1 = pd.read_csv("D:\\newproject\\New folder\\Chickpea.data.csv")
df2 = pd.read_csv("D:\\newproject\\New folder\\Sorghum.data.csv")

In [3]:
#Na Handling
df.isnull().values.any()

False

In [4]:
#Na Handling
df1.isnull().values.any()

False

In [5]:
#Na Handling
df2.isnull().values.any()

True

In [6]:
df2.isnull().sum()*100/df2.shape[0]

Predictor    58.333333
740          58.333333
741          58.333333
742          58.333333
743          58.333333
744          58.333333
745          58.333333
746          58.333333
747          58.333333
748          58.333333
749          58.333333
750          58.333333
751          58.333333
752          58.333333
753          58.333333
754          58.333333
755          58.333333
756          58.333333
757          58.333333
758          58.333333
759          58.333333
760          58.333333
761          58.333333
762          58.333333
763          58.333333
764          58.333333
765          58.333333
766          58.333333
767          58.333333
768          58.333333
               ...
1041         58.333333
1042         58.333333
1043         58.333333
1044         58.333333
1045         58.333333
1046         58.333333
1047         58.333333
1048         58.333333
1049         58.333333
1050         58.333333
1051         58.333333
1052         58.333333
1053         58.333333
1054         58.333333
1055         58.333333
1056         58.333333
1057         58.333333
1058         58.333333
1059         58.333333
1060         58.333333
1061         58.333333
1062         58.333333
1063         58.333333
1064         58.333333
1065         58.333333
1066         58.333333
1067         58.333333
1068         58.333333
1069         58.333333
1070         58.333333
Length: 332, dtype: float64

In [7]:
df6=df2.dropna()

In [8]:
df3 = df.append(df1)
df4 = df3.append(df6)

In [9]:
df4.head()

,Predictor,740,741,742,743,744,745,746,747,748,...,1061,1062,1063,1064,1065,1066,1067,1068,1069,1070
0,HB-52,1.499853,1.500665,1.501564,1.502536,1.503537,1.504548,1.505588,1.506689,1.507828,...,1.636411,1.637350,1.636452,1.634370,1.632287,1.630265,1.630722,1.633166,1.636204,1.637872
1,HB-52,1.530877,1.531669,1.532524,1.533419,1.534308,1.535169,1.536024,1.536916,1.537830,...,1.643299,1.644222,1.643302,1.641195,1.639088,1.637046,1.637493,1.639938,1.642981,1.644649
2,HB-52,1.607175,1.608642,1.610044,1.611357,1.612540,1.613585,1.614534,1.615456,1.616359,...,1.703343,1.704291,1.703329,1.701137,1.698946,1.696822,1.697278,1.699806,1.702953,1.704677
3,HB-52,1.677333,1.678098,1.678930,1.679809,1.680688,1.681539,1.682384,1.683260,1.684145,...,1.755067,1.756013,1.754996,1.752716,1.750441,1.748238,1.748696,1.751290,1.754525,1.756294
4,HB-52,1.507830,1.509293,1.510683,1.511977,1.513145,1.514180,1.515125,1.516049,1.516964,...,1.641968,1.642877,1.641946,1.639829,1.637714,1.635664,1.636101,1.638535,1.641567,1.643227

In [10]:
df.info()
print("*"*100)
df1.info()
print("*"*100)
df6.info()
print("*"*100)
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200 entries, 0 to 1199
Columns: 332 entries, Predictor to 1070
dtypes: float64(331), object(1)
memory usage: 3.0+ MB
****************************************************************************************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 950 entries, 0 to 949
Columns: 332 entries, Predictor to 1070
dtypes: float64(331), object(1)
memory usage: 2.4+ MB
****************************************************************************************************
<class 'pandas.core.frame.DataFrame'>
Int64Index: 500 entries, 0 to 499
Columns: 332 entries, Predictor to 1070
dtypes: float64(331), object(1)
memory usage: 1.3+ MB
****************************************************************************************************
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2650 entries, 0 to 499
Columns: 332 entries, Predictor to 1070
dtypes: float64(331), object(1)
memory usage: 6.7+ MB

In [11]:
X = df.drop(['Predictor'], axis=1)
X_col = X.columns

In [12]:
from sklearn.preprocessing import StandardScaler

In [13]:
X = StandardScaler().fit_transform(X.values)

In [14]:
y = df['Predictor']

In [15]:
X.head()

AttributeError: 'numpy.ndarray' object has no attribute 'head'

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
df15 = pd.DataFrame(X, columns=X_col)

In [18]:
df15.shape

(1200, 331)

In [19]:
X_train, X_test, y_train, y_test = train_test_split(X, y,
                                                    train_size=0.8,
                                                    random_state=42)

C:\Users\akhil\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:2179: FutureWarning: From version 0.21, test_size will always complement train_size unless both are specified.
  FutureWarning)

In [15]:
from sklearn.model_selection import cross_val_predict, cross_val_score
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

In [16]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

In [17]:
df16 = pd.DataFrame(y)

In [18]:
# apply Label encoder to df_categorical


df16 = df16.apply(le.fit_transform)
df16.head()

   Predictor
0         21
1         21
2         21
3         21
4         21

In [22]:
from sklearn import svm
clf = svm.SVC(kernel="linear")

In [23]:
from sklearn.feature_selection import RFE

In [25]:
for i in range(300, 330, 20):
    rfe = RFE(clf,i ,step=1)             # running RFE with 13 variables as output
    rfe = rfe.fit(X,y)
    print("x = {0}".format(i))
    print(accuracy_score(y, rfe.predict(X)))

x = 300
0.5383333333333333
x = 320
0.5433333333333333

In [ ]:
# Variables selected by RFE 
col = ['740', '741', '867', '868',
       '999','1019','1049', '1063',
       '1066','1070']

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(df15[col], df16,
                                                    train_size=0.8,
                                                    random_state=42)

In [ ]:
def print_score(clf, X_train, y_train, X_test, y_test, train=True):
    if train:
        print("Train Result:\n")
        print("accuracy score: {0:.4f}\n".format(accuracy_score(y_train, clf.predict(X_train))))
        print("Classification Report: \n {}\n".format(classification_report(y_train, clf.predict(X_train))))
        print("Confusion Matrix: \n {}\n".format(confusion_matrix(y_train, clf.predict(X_train))))

        res = cross_val_score(clf, X_train, y_train, cv=10, scoring='accuracy')
        print("Average Accuracy: \t {0:.4f}".format(np.mean(res)))
        print("Accuracy SD: \t\t {0:.4f}".format(np.std(res)))
        
    elif train==False:
        print("Test Result:\n")        
        print("accuracy score: {0:.4f}\n".format(accuracy_score(y_test, clf.predict(X_test))))
        print("Classification Report: \n {}\n".format(classification_report(y_test, clf.predict(X_test))))
        print("Confusion Matrix: \n {}\n".format(confusion_matrix(y_test, clf.predict(X_test))))

In [ ]:
clf.fit(X_train, y_train)
print_score(clf, X_train, y_train, X_test, y_test, train=True)
print_score(clf, X_train, y_train, X_test, y_test, train=False)

In [29]:
accuracy_score(y_train, rfe.predict(X_train))

0.3787735849056604

In [33]:
x=10
print(x + ":")

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [37]:
x=15
print("x = {0}".format(x))
print("x = {0}".format(x))

x = 15
x = 15